<section class="tout" id="interests">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
          <a class="filter active btn btn-common" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common" data-filter=".branding">
            CS
          </a>
          <a class="filter btn btn-common" data-filter=".marketing">
            Sustainable Development
          </a>
          <a class="filter btn btn-common" data-filter=".planning">
            Music
          </a>
          <a class="filter btn btn-common" data-filter=".research">
            Writing
          </a>
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>

      <!-- Portfolio Recent Projects -->
      <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img1.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="docs/doc1.pdf">Paper</a>
                    <a class="right-link" href="docs/doc3.pdf">Presentation</a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="docs/doc1.pdf">
                      <h4>In Situ Carbon Sequestration Assessment For NYC Power Sources</h4>
                    </a>
                    <p class="sup-description">Research paper and presentation completed while studying abroad in Iceland.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix branding planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img2.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>Economic Commentary on the Great Pacific Garbage Patch</h4>
                    </a>
                    <p class="sup-description">A paper written an environmental economics class, recommending different types of
                      plastic taxes to mitigate the GPGP. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing research">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img4.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="https://github.com/johannanelson/Raspberry_Pi_Soundboard">
                      <h4>Raspberry Pi Project with the AMNH Exhibitions Department</h4>
                    </a>
                    <p class="sup-description">Python program for a soundboard used at the "Dinosaurs Among Us" exhibit.
                      It plays 6 different bird sounds and uses Raspberry Pi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix branding research">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <iframe width="355" height="254"
                src="https://www.youtube.com/embed/j3YVVPC14lM" frameborder="0">
              </iframe>
            </div>
          <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>High School Senior Recital</h4>
                    </a>
                    <p class="sup-description">Click here to see my 45-minute solo recital on classical piano. I performed works by Bach,
                    Beethoven, Schumann, Chopin. Above is my Gerswhin/Wild encore performance. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img5.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix planning research">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img6.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->
