<section class="tout" id="interests">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
          <a class="filter active btn btn-common" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common" data-filter=".cs">
            CS
          </a>
          <a class="filter btn btn-common" data-filter=".sdev">
            Sustainable Development
          </a>
          <a class="filter btn btn-common" data-filter=".music">
            Music
          </a>
          <a class="filter btn btn-common" data-filter=".writing">
            Writing
          </a>
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>

      <!-- Portfolio Recent Projects -->
      <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s" >
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing planning" data-filter=".sdev">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img1.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="docs/doc1.pdf">Paper</a>
                    <a class="right-link" href="docs/doc3.pdf">Presentation</a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="docs/doc1.pdf">
                      <h4>In Situ Carbon Sequestration Assessment For NYC Power Sources</h4>
                    </a>
                    <p class="sup-description">Research paper and presentation completed while studying abroad in Iceland.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img3.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="https://github.com/johannanelson/Book-Cataloguer">
                      <h4>Book Cataloguer</h4>
                    </a>
                    <p class="sup-description">Java program that catalogs any txt file by its diction.
                      I've always found repeated metaphors and epithets interesting, and wanted a simple way
                      to find all their instances – sort of like command-f, but getting all the instances
                      in one output file.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix branding planning" data-filter=".sdev">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img2.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner"
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="docs/doc2.pdf">
                      <h4>Economic Commentary on the Great Pacific Garbage Patch</h4>
                    </a>
                    <p class="sup-description">A paper written an environmental economics class, recommending different types of
                      plastic taxes to mitigate the GPGP. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing research">
          <div class="portfolio-item" data-filter=".cs">
            <div class="portfolio-img">
              <img src="img/portfolio/img4.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="https://github.com/johannanelson/Raspberry_Pi_Soundboard">
                      <h4>Raspberry Pi Project with the AMNH Exhibitions Department</h4>
                    </a>
                    <p class="sup-description">Python program for a soundboard used at the "Dinosaurs Among Us" exhibit.
                      It plays 6 different bird sounds and uses Raspberry Pi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix music" data-category="music">
          <div class="portfolio-item music">
            <div class="portfolio-img">
              <img src="img/portfolio/img7.jpg" alt="" />
            </div>
            <div class="portfoli-content music">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="docs/doc5.pdf">
                      <h4>Schenkerian Analysis</h4>
                    </a>
                    <p class="sup-description">19th century-style music theory analysis project.
                      From a post-AP level music theory class taken in 10th grade.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix .writing" data-filter="writing">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="img/portfolio/img6.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="docs/doc4.pdf">
                      <h4>The Water in Hell and the Heart in Dante's Inferno</h4>
                    </a>
                    <p class="sup-description">My favorite essay I've written in college – for Columbia's required
                      course, Literature Humanities.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix cs .cs" data-filter=".cs">
          <div class="portfolio-item cs" data-category = "cs">
            <div class="portfolio-img">
              <img src="img/portfolio/img8.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner"
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="https://github.com/johannanelson/drink-generator">
                      <h4>Cocktail Generator</h4>
                    </a>
                    <p class="sup-description">I catalogued all the cocktails in existence, for those over the age of 21 and getting bored with their same three cocktails. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix branding research" data-category="music">
          <div class="music" data-category="music">
            <div class="portfolio-img">
              <iframe width="355" height="254"
                src="https://www.youtube.com/embed/j3YVVPC14lM" frameborder="0">
              </iframe>
            </div>
          <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="https://youtu.be/h4J_LruwoW0">
                      <h4>High School Senior Recital</h4>
                    </a>
                    <p class="sup-description">A 45-minute solo recital on classical piano. I performed works by Bach,
                    Beethoven, Schumann, Chopin. Above is my Gerswhin/Wild encore performance. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->
